:root {

    /* Colores */
    --color-primary: #2563eb;
    --color-text: #222;
    --color-background: #f8fafc;
    --color-border: #dcdcdc;

    /* Tipografía */
    --font-family: Arial, Helvetica, sans-serif;

    /* Bordes */
    --radius: 16px;

    /* Sombras */
    --shadow:
        0 4px 12px rgba(0,0,0,.08);

    /* Espaciados */
    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2.5rem;

    /* Contenedor */
    --container-width: 1200px;
}